@use "./utils/abstracts" as *;
@use "../../dev/styles/typography.scss";

@mixin common-styles {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@mixin text-hover {
    & [data-text] {
        transform: translateY(-100%);

        &::before {
            opacity: 0;
        }

        &::after {
            opacity: 1;
        }
    }
}

@mixin text-styles {
    & [data-text] {
        position: relative;
        display: block;
        transition: transform $tran;
        pointer-events: none;

        &::before {
            content: attr(data-text);
            display: block;
            transition: opacity $tran;
        }

        &::after {
            content: attr(data-text);
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            transition: opacity $tran;
            opacity: 0;
        }
    }
}

.btn-primary {
    @include common-styles();
    padding: 10px 30px;
    min-height: 61px;
    border-radius: 8px;
    border: 1px solid transparent;
    color: var(--accent);
    background-color: var(--accent-5);
    transition: background-color $tran, border $tran;
    font-size: rem(18px);
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: -0.01em;
    outline: 2px solid var(--accent);

    @media (min-width: $mq-4xl) {
        min-height: 66px;
        font-size: rem(21px);
        padding-left: 50px;
        padding-right: 50px;
    }

    @media #{$mouse-device} {
        &:hover {
            border-color: var(--accent);

            @include text-hover;
        }
    }

    &:active {
        background-color: var(--accent-10);
    }

    &.disabled {
        opacity: 1;
        outline-color: $color-light-primary-40;
        color: $color-dark-primary-60;
        background-color: $backgound;
    }

    @include text-styles;
}

.btn-secondary {
    @include common-styles();
    border-radius: 8px;
    min-height: 44px;
    padding: 8px 20px;
    background-color: var(--accent);
    color: $color-light-primary;
    font-size: rem(14px);
    line-height: 1.5em;
    letter-spacing: -0.01em;
    transition: background-color $tran;

    @media (min-width: $mq-2xl) {
        min-height: 50px;
        font-size: rem(16px);
    }

    @media (min-width: $mq-4xl) {
        min-height: 55px;
        font-size: rem(18px);
        padding: 10px 30px;
    }

    @media #{$mouse-device} {
        &:hover {
            background-color: var(--accent-100);

            @include text-hover();
        }
    }

    &-sm {
        padding: 6px 24px;
        min-height: 40px !important;

        @media (min-width: $mq-4xl) {
            min-height: 46px !important;
            padding: 8px 24px;
        }
    }

    @include text-styles();
}

.btn-with-enter-arrow {
    @include common-styles();
    min-height: 63px;
    background-color: var(--accent);
    color: $color-light-primary;
    padding: 12px 74px 12px 20px;
    font-weight: 500;
    font-size: rem(18px);
    line-height: 150%;
    letter-spacing: -0.01em;
    position: relative;
    border-radius: 10px;
    transition: background-color $tran;

    @media (min-width: $mq-lg) {
        padding: 16px 84px 16px 30px;
    }

    @media (min-width: $mq-4xl) {
        min-height: 68px;
        padding: 16px 94px 16px 40px;
        font-size: rem(21px);
    }

    @media #{$mouse-device} {
        &:hover {
            background-color: var(--accent-80);

            @include text-hover();
        }
    }

    &:active {
        background-color: var(--accent-100) !important;
    }

    &::before {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDMiIGhlaWdodD0iNDMiIHZpZXdCb3g9IjAgMCA0MyA0MyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjQzIiBoZWlnaHQ9IjQzIiByeD0iNiIgZmlsbD0id2hpdGUiLz4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzEzODNfMzAyNDcpIj4KPHBhdGggZD0iTTI0LjEyNSAyMS41TDI4LjA2MjUgMjUuNDM3NUwyNC4xMjUgMjkuMzc1IiBzdHJva2U9IiMxRjFGMUYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik0xNi4yNSAxMy42MjVMMTYuMjUgMjMuNDM3NUMxNi4yNSAyNC41NDIxIDE3LjE0NTQgMjUuNDM3NSAxOC4yNSAyNS40Mzc1TDI4LjA2MjUgMjUuNDM3NSIgc3Ryb2tlPSIjMUYxRjFGIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzEzODNfMzAyNDciPgo8cmVjdCB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIGZpbGw9IndoaXRlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMSAxMSkiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 43px;
        width: 43px;

        @media (min-width: $mq-4xl) {
            height: 48px;
            width: 48px;
        }
    }

    &.disabled {
        pointer-events: none;
        background-color: $color-light-primary-60;
        color: $color-dark-primary-60;
    }

    @include text-styles();
}

.btn-with-arrow {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-right: 1.5em;
    font-weight: 500;
    font-size: rem(18px);
    line-height: 150%;
    letter-spacing: -0.01em;
    transition: color $tran;
    color: var(--accent);

    @media #{$mouse-device} {
        &:hover {
            color: var(--accent-80);

            &::after {
                background-color: var(--accent-10);
            }
        }
    }

    @media (min-width: $mq-4xl) {
        font-size: rem(21px);
    }

    &:active {
        color: var(--accent-100) !important;

        &::after {
            background-color: var(--accent-100) !important;
            color: $color-light-primary;
        }
    }

    &::after {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.746em;
        width: 1.746em;
        border-radius: 100%;
        font-size: 0.7em;
        background-color: var(--accent-5);
        transition: background-color $tran, color $tran;

        content: "\e905";
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    & [data-text] {
        &::before {
            content: attr(data-text);
        }
    }

    &.disabled {
        opacity: 1;
        pointer-events: none;
        color: $color-dark-primary-60;

        &::after {
            background-color: $color-light-primary-80;
        }
    }
}

.button-group {
    &>* {

        @media (min-width: 0px) and (max-width: 575.98px) {
            width: 100%;
        }
    }
}

.buttons-dance {
    &>* {
        flex-grow: 1;
        flex-shrink: 0;
        width: auto;
    }
}

.md-max\:buttons-dance {
    @media (max-width: $mq-md-max) {
        &>* {
            min-width: calc(50% - 5px);
            flex-grow: 1;
            flex-shrink: 0;
            width: auto;
        }
    }
}


.decor-btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $color-dark-primary;
    position: relative;
    background-color: $color-light-primary;
    min-height: 35px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 6px 16px;
    border: 1.5px solid currentColor;

    @media (min-width: $mq-md) {
        font-size: 16px;
        min-height: 44px;
        gap: 10px;
        padding: 8px 20px;
    }

    @media (min-width: $mq-4xl) {
        font-size: 18px;
        min-height: 47px;
    }

    &::before {
        content: '';
        height: 6px;
        width: 6px;
        border-radius: 20px;
        background-color: $color-accent-second;

        @media (min-width: $mq-md) {
            height: 10px;
            width: 10px;
        }
    }
}

.hero-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 59px;
    padding: rem(8px) rem(30px);
    border-radius: rem(12px);
    background-color: $color-light-primary;
    font-weight: 500;
    font-size: rem(18px);
    line-height: 150%;
    letter-spacing: -0.01em;
    gap: rem(10px);
    color: $color-dark-primary;
    overflow: hidden;
    position: relative;

    @media #{$mouse-device} {
        &:hover {
            &::before {
                background-color: $color-accent-first;
            }

            @include text-hover;
        }
    }

    @media (min-width: $mq-md) {
        min-height: 87px;
        min-width: rem(200px);
    }

    @media (min-width: $mq-4xl) {
        font-size: rem(21px);
    }

    &::after {
        display: flex;
        align-items: center;
        justify-content: center;
        height: rem(22px);
        width: rem(22px);
        border-radius: 100%;
        font-size: rem(14px);
        background-color: $color-accent-first-5;
        transition: background-color $tran, color $tran;
        color: $color-accent-first;

        content: "\e905";
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
        background-color: $color-accent-second;
        height: rem(30px);
        width: rem(30px);
        border-radius: 100%;
        transition: background-color $tran;

        @media (min-width: $mq-md) {
            height: rem(36px);
            width: rem(36px);
        }
    }

    @include text-styles;
}

.category-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: rem(5px);
    border-radius: 99px;
    border: 1px solid var(--category-color-light);
    padding: rem(3px) rem(10px);
    @extend .text-sm;
    background-color: $color-light-primary;
    color: $color-dark-primary;
    transition: background-color $tran;

    & img, & svg {
        flex: 0 0 auto;
        width: rem(12px);
        height: rem(12px);
        object-fit: contain;
    }

    & svg {
        & path, & rect {
            transition: fill $tran;
        }
    }
}

a.category-tag {
    @media #{$mouse-device} {
        &:hover {
            background-color: var(--category-color-light);
            
            & svg {
                & path, & rect {
                    fill: currentColor;
                }
            }

            &.category-colors-2 {
                color: $color-light-primary;
            }
        }
    }
}

.slider-bullets {
    display: flex;
    justify-content: center;
    gap: 10px;

    & .swiper-pagination-bullet{
        height: 10px;
        width: 10px;
        background-color: $color-light-primary-60;
        margin: 0 !important;
        opacity: 1;

        &.swiper-pagination-bullet-active {
            background-color: $color-dark-primary;
        }
    }
}

.slider-bullets {
    max-width: 90px;
    width: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.bullets-wrapper {
    display: flex;
    box-sizing: content-box;
    gap: 10px;
    transition: transform $tran .25s;

    &.swiper-pagination-lock {
        display: none;
    }
}

.bullet {
    flex: 0 0 auto;
    height: 10px;
    width: 10px;
    background-color: $color-light-primary-60;
    border-radius: 99px;
    position: relative;
    z-index: 1;
    cursor: pointer;

    &.active {
        background-color: $color-dark-primary;
    }

    @media #{$mouse-device} {
        &:hover:not(.active) {
            background-color: $color-dark-primary-10;
        }
    }
}

.nav-btn {
  &.swiper-button-disabled {
    pointer-events: none;
    background-color: $color-dark-primary-10;
    color: $color-dark-primary-60;
  }  
}