@use "./utils/abstracts" as *;

.subscribe-form {
    padding: 5px;
    border-radius: 10px;
    gap: 5px;

    &-input {
        margin-left: 15px;
        height: 40px;
        font-size: rem(14px);
        line-height: 140%;
        letter-spacing: -0.01em;
        background: transparent;
    
        @media (min-width: $mq-4xl) {
            font-size: rem(15px);
            min-height: 46px;
        }
    }

    &-submit {
        flex: 0 0 auto;
    }
}