@use "./utils/abstracts" as *;
@use "sass:map";

.last-no-margin {
    &>*:last-child {
        margin-bottom: 0 !important;
    }
}

.first-no-margin {
    &>*:first-child {
        margin-top: 0 !important;
    }
}

.first-child-no-margin {
    &:first-child {
        margin-top: 0 !important;
    }
}

.last-child-no-margin {
    &:last-child {
        margin-bottom: 0 !important;
    }
}

.sequential-index {
    &>* {
        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                position: relative;
                z-index: $i;
            }
        }
    }
}

.reverse-index {
    &>* {
        @for $i from 1 through 40 {
            &:nth-child(#{$i}) {
                position: relative;
                z-index: #{40 - $i};
            }
        }
    }
}

.vertical-text {
    display: flex;
    align-items: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.scroll-container {
    &::-webkit-scrollbar {
        width: rem(8px);
        height: rem(8px);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: rem(8px);
    }

    &::-webkit-scrollbar-thumb:hover {}

    &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: rem(8px);
        box-shadow: inset 0px 0px 0px 0px #fff;
    }

    /* Firefox */
    @supports (-moz-appearance: none) {
        scrollbar-width: thin;
        scrollbar-color: #888 #f4f4f4;
    }

    &--sm {
        &::-webkit-scrollbar {
            width: rem(4px);
            height: rem(4px);
        }
    }
}

.scroll-container-thin {
    &::-webkit-scrollbar {
        width: rem(4px);
        //height: rem(0px);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: rem(3px);
    }

    &::-webkit-scrollbar-thumb:hover {}

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    /* Firefox */
    @supports (-moz-appearance: none) {
        scrollbar-width: thin;
        scrollbar-color: #888 #f4f4f4;
    }
}

.ibg {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

@each $type, $shades in $colors {
    .accent-#{$type} {
        --accent: #{map.get($shades, base)};
        --accent-filter: #{map.get($shades, filter)};
        --accent-100: #{map.get($shades, 100)};
        --accent-100-filter: #{map.get($shades, 100-filter)};
        --accent-80: #{map.get($shades, 80)};
        --accent-50: #{map.get($shades, 50)};
        --accent-50-filter: #{map.get($shades, 50-filter)};
        --accent-10: #{map.get($shades, 10)};
        --accent-5: #{map.get($shades, 5)};
        --accent-5-filter: #{map.get($shades, 5-filter)};
    }

    .accent-#{$type}-filter {
        filter: #{map.get($shades, filter)};
    }

    .accent-#{$type}-100-filter {
        filter: #{map.get($shades, 100-filter)};
    }

    .accent-#{$type}-50-filter {
        filter: #{map.get($shades, 50-filter)};
    }

    .accent-#{$type}-5-filter {
        filter: #{map.get($shades, 5-filter)};
    }

    .text-accent-#{$type} {
        color: #{map.get($shades, base)};
    }
}

.color-light-primary-filter {
    filter: $color-light-primary-filter;
}

.color-light-primary-60-filter {
    filter: $color-light-primary-60-filter;
}

@each $type, $color in $category-colors {
    .category-colors-#{$type} {
        --category-color: #{map.get($color, main)};
        --category-color-light: #{map.get($color, light)};
    }
}

@each $size, $mq in $margin {
    .mt-#{$size} {
        margin-top: #{map.get($mq, sm)};

        @media (min-width: $mq-md) {
            margin-top: #{map.get($mq, md)};
        }

        @media (min-width: $mq-xl) {
            margin-top: #{map.get($mq, xl)};
        }

        @media (min-width: $mq-4xl) {
            margin-top: #{map.get($mq, 4xl)};
        }
    }

    .mr-#{$size} {
        margin-right: #{map.get($mq, sm)};

        @media (min-width: $mq-md) {
            margin-right: #{map.get($mq, md)};
        }

        @media (min-width: $mq-xl) {
            margin-right: #{map.get($mq, xl)};
        }

        @media (min-width: $mq-4xl) {
            margin-right: #{map.get($mq, 4xl)};
        }
    }

    .mb-#{$size} {
        margin-bottom: #{map.get($mq, sm)};

        @media (min-width: $mq-md) {
            margin-bottom: #{map.get($mq, md)};
        }

        @media (min-width: $mq-xl) {
            margin-bottom: #{map.get($mq, xl)};
        }

        @media (min-width: $mq-4xl) {
            margin-bottom: #{map.get($mq, 4xl)};
        }
    }

    .ml-#{$size} {
        margin-left: #{map.get($mq, sm)};

        @media (min-width: $mq-md) {
            margin-left: #{map.get($mq, md)};
        }

        @media (min-width: $mq-xl) {
            margin-left: #{map.get($mq, xl)};
        }

        @media (min-width: $mq-4xl) {
            margin-left: #{map.get($mq, 4xl)};
        }
    }
}

@each $size, $mq in $section-spases {
    .section-mt-#{$size} {
        margin-top: #{map.get($mq, sm)};

        @media (min-width: $mq-md) {
            margin-top: #{map.get($mq, md)};
        }

        @media (min-width: $mq-xl) {
            margin-top: #{map.get($mq, xl)};
        }

        @media (min-width: $mq-4xl) {
            margin-top: #{map.get($mq, 4xl)};
        }
    }

    .section-mr-#{$size} {
        margin-right: #{map.get($mq, sm)};

        @media (min-width: $mq-md) {
            margin-right: #{map.get($mq, md)};
        }

        @media (min-width: $mq-xl) {
            margin-right: #{map.get($mq, xl)};
        }

        @media (min-width: $mq-4xl) {
            margin-right: #{map.get($mq, 4xl)};
        }
    }

    .section-mb-#{$size} {
        margin-bottom: #{map.get($mq, sm)};

        @media (min-width: $mq-md) {
            margin-bottom: #{map.get($mq, md)};
        }

        @media (min-width: $mq-xl) {
            margin-bottom: #{map.get($mq, xl)};
        }

        @media (min-width: $mq-4xl) {
            margin-bottom: #{map.get($mq, 4xl)};
        }
    }

    .section-ml-#{$size} {
        margin-left: #{map.get($mq, sm)};

        @media (min-width: $mq-md) {
            margin-left: #{map.get($mq, md)};
        }

        @media (min-width: $mq-xl) {
            margin-left: #{map.get($mq, xl)};
        }

        @media (min-width: $mq-4xl) {
            margin-left: #{map.get($mq, 4xl)};
        }
    }


    .section-pt-#{$size} {
        padding-top: #{map.get($mq, sm)};

        @media (min-width: $mq-md) {
            padding-top: #{map.get($mq, md)};
        }

        @media (min-width: $mq-xl) {
            padding-top: #{map.get($mq, xl)};
        }

        @media (min-width: $mq-4xl) {
            padding-top: #{map.get($mq, 4xl)};
        }
    }

    .section-pr-#{$size} {
        padding-right: #{map.get($mq, sm)};

        @media (min-width: $mq-md) {
            padding-right: #{map.get($mq, md)};
        }

        @media (min-width: $mq-xl) {
            padding-right: #{map.get($mq, xl)};
        }

        @media (min-width: $mq-4xl) {
            padding-right: #{map.get($mq, 4xl)};
        }
    }

    .section-pb-#{$size} {
        padding-bottom: #{map.get($mq, sm)};

        @media (min-width: $mq-md) {
            padding-bottom: #{map.get($mq, md)};
        }

        @media (min-width: $mq-xl) {
            padding-bottom: #{map.get($mq, xl)};
        }

        @media (min-width: $mq-4xl) {
            padding-bottom: #{map.get($mq, 4xl)};
        }
    }

    .section-pl-#{$size} {
        padding-left: #{map.get($mq, sm)};

        @media (min-width: $mq-md) {
            padding-left: #{map.get($mq, md)};
        }

        @media (min-width: $mq-xl) {
            padding-left: #{map.get($mq, xl)};
        }

        @media (min-width: $mq-4xl) {
            padding-left: #{map.get($mq, 4xl)};
        }
    }
}

@each $size, $mq in $gap {
    .gap-x-#{$size} {
        column-gap: #{map.get($mq, sm)};

        @media (min-width: $mq-md) {
            column-gap: #{map.get($mq, md)};
        }

        @media (min-width: $mq-xl) {
            column-gap: #{map.get($mq, xl)};
        }

        @media (min-width: $mq-4xl) {
            column-gap: #{map.get($mq, 4xl)};
        }
    }

    .gap-y-#{$size} {
        row-gap: #{map.get($mq, sm)};

        @media (min-width: $mq-md) {
            row-gap: #{map.get($mq, md)};
        }

        @media (min-width: $mq-xl) {
            row-gap: #{map.get($mq, xl)};
        }

        @media (min-width: $mq-4xl) {
            row-gap: #{map.get($mq, 4xl)};
        }
    }
}

flag {
    display: inline;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        right: 0.04em;
        bottom: calc(100% - 0.4em);
        transform: translateX(100%);
        width: 12px;
        height: 8px;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMC40IDBIMFY0SDEyTDEwLjQgMFoiIGZpbGw9IiMwMDU3QjgiLz4KPHBhdGggZD0iTTEwLjQgNEgwVjhIMTJMMTAuNCA0WiIgZmlsbD0iI0ZGRDcwMCIvPgo8L3N2Zz4K');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

}

.grayscale {
    filter: grayscale(1);
}

.overflow-hidden {
    overflow: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.grid {
    display: grid;
}

.bg-light-primary {
    --bg: #{$color-light-primary};
    --nested-bg: #{$color-light-primary-80};
    --nested-bg-filter: #{$color-light-primary-80-filter};

    & .nested-bg-item {
        background-color: $color-light-primary-80;
    }

    & .bg-item-filter {
        filter: $color-light-primary-filter;
    }

    & .bg-nested-item-filter {
        filter: $color-light-primary-80-filter;
    }
}

.bg-light-primary-80 {
    --bg: #{$color-light-primary-80};
    --nested-bg: #{$color-light-primary};
    --nested-bg-filter: #{$color-light-primary-filter};

    & .nested-bg-item {
        background-color: $color-light-primary;
    }

    & .bg-item-filter {
        filter: $color-light-primary-80-filter;
    }

    & .bg-nested-item-filter {
        filter: $color-light-primary-filter;
    }
}

.mt-0.mt-0 {
    margin-top: 0;
}

.mr-0.mr-0 {
    margin-right: 0;
}

.mb-0.mb-0 {
    margin-bottom: 0;
}

.ml-0.ml-0 {
    margin-left: 0;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.block-container-sm {
    max-width: rem(484px);

    @media (min-width: $mq-4xl) {
        max-width: rem(630px);
    }
}

.block-container-md {
    max-width: rem(618px);

    @media (min-width: $mq-4xl) {
        max-width: rem(804px);
    }
}

.block-container-lg {
    max-width: rem(728px);

    @media (min-width: $mq-4xl) {
        max-width: rem(946px);
    }
}

.block-container-xl {
    max-width: rem(872px);

    @media (min-width: $mq-4xl) {
        max-width: rem(1134px);
    }
}

.block-container-2xl {
    max-width: rem(1024px);

    @media (min-width: $mq-4xl) {
        max-width: rem(1330px);
    }
}


.image-mask {
    mask-size: contain;
    mask-repeat: no-repeat;

    &-1 {
        mask-image: url('../images/general/image-mask-1.svg');
    }

    &-2 {
        mask-image: url('../images/general/image-mask-2.svg');
    }

    &-3 {
        mask-image: url('../images/general/image-mask-3.svg');
    }

    &-4 {
        mask-image: url('../images/general/image-mask-4.svg');
    }
}

.card-image-mask {
    mask-size: 100%;
    mask-repeat: no-repeat;

    &-1 {
        mask-image: url('../images/general/card-image-mask-1.svg');
    }

    &-2 {
        mask-image: url('../images/general/card-image-mask-2.svg');
    }
}

.image-mask-right-center {
    mask-position: right center;
}

.image-mask-bottom-center {
    mask-position: bottom center;
}

.md\:image-mask-bottom-center {
    @media (min-width: $mq-md) {
        mask-position: bottom center;
    }
}

.image-mask-center {
    mask-position: center;
}

.card-rotate {
    perspective: 1000px;

    &.active {
        & .card-rotate-front {
            transform: rotateY(180deg);
        }

        & .card-rotate-back {
            transform: rotateY(360deg);
        }
    }
}

.card-rotate-front {
    backface-visibility: hidden;
    transition: transform .6s ease;
    z-index: 2;
    position: relative;
}

.card-rotate-back {
    backface-visibility: hidden;
    transition: transform .6s ease;
    transform: rotateY(180deg);
    z-index: 1;
}

.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: var(--line);
    -webkit-box-orient: vertical;

    max-height: calc(var(--line-height) * var(--line));
}

.md-max\:truncate-text {
    @media (max-width: $mq-md-max) {
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: var(--line);
        -webkit-box-orient: vertical;

        max-height: calc(var(--line-height) * var(--line));
    }
}

.transition-bounced {
    transition: transform .4s $tf-bouncing;
}